.app {
    max-width: 1100px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
    gap: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

input[type='text'] {
	font-size: 13px;
	padding: 5px 0 5px 10px;
	border: 2px solid #000000;
	background: #ffffff;
	border-radius: 5px; 
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    width: 400px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media(max-width: 425px) {
    main {
        flex-wrap: wrap;
    }
}